---
interface MiniCard{
    img: string,
    title: string,
    sizes?: number[],
    price?: string,
}
interface Props{
    img: string,
    title: string,
    miniCard: MiniCard[],
    swiper?: boolean,
}

const {img, title, miniCard, swiper} = Astro.props;

const sizes = ['2-3', '3-4', '4-5', '5-6', '6-7', '7-8', '8-9', '9-10'];
---

<div class:list={['swiperMainCard', {'swiper-slide': swiper}]}>
    <div class="swiperMainCard__imgWrap">
        <img src={img} alt="" class="swiperMainCard__img">
        <div class="swiperMainCard__describe">
            {
                miniCard.map(card => (
                    <div class="swiperMainCard__wrap">
                        <img src={card.img} alt={}/>
                        <div class="swiperMainCard__description">
                            <div class="swiperMainCard__describe-title">{card.title}</div>
                        </div>
                        <div class="swiperMainCard__sizePrice">
                            {
                                card.sizes && 
                                <div class="swiperMainCard__size icon-arrow">
                                    <div class="swiperMainCard__sizeWrap">
                                        {
                                            sizes.map((item, index) => (
                                                <div class:list={['swiperMainCard__sizeItem', { 'disable': !card.sizes.includes(index) }]}>
                                                    {item}
                                                </div>
                                            ))
                                        }
                                    </div>
                                    <p>years</p>
                                </div>
                                <div class="swiperMainCard__size-add"></div>
                            }
                            {
                                card.price && <div class="swiperMainCard__price">{card.price} USD</div>
                            }
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
    <div class="swiperMainCard__title">{title}</div>
    <a href="#" class="icon-arrow uppercase">view products</a>
</div>

<style is:global lang="scss">
    .swiperMainCard{
        &__img{
            object-fit: cover;
            height: 380px;
            width: 100%;
            &Wrap{
                position: relative;
                overflow: hidden;
                margin-bottom: 16px;
            }
        }
        &__wrap{
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 14px;
        }
        &__size{
            display: flex;
            align-items: flex-start;
            p{
                margin-top: auto;
            }
            &Item{
                cursor: pointer;
                &::after{
                    content: ', ';
                }
                &.disable{
                    color: rgba(255, 255, 255, .4);
                    text-decoration: line-through;
                }
            }
            &Wrap{
                display: flex;
                flex-wrap: wrap;
                max-width: 140px;
            }
            &::before{
                font-size: 30px;
            }
            &-add{
                &::before{
                    content: 'Add';
                    color: $white;
                }
            }
            &:has(.disable:hover){
                & + .swiperMainCard__size-add{
                    &::before{
                        content: 'Notify me';
                    }
                }
            }
        }
        &__describe{
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 14px;
            left: 0;
            bottom: 0;
            width: 100%;
            height: fit-content;
            z-index: 2;
            color: $white;
            padding: 16px;
            background: rgba(80, 115, 95, .6);
            transition: .38s ease-in-out;
            transform: translateY(100%);
            & > *{
                position: relative;
                z-index: 2;
            }
            img{
                height: 100px;
                width: 68px;
                object-fit: contain;
                grid-row: span 2;
            }

        }
        a{
            display: flex;
            align-items: center;
            &::before{
                font-size: 30px;
                color: $green;
            }
        }
        &:hover{
            .swiperMainCard__describe{
                transform: translateY(0%);
            }
        }
    }
</style>